.head-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.head-logo img {
            height: 70px;
            width: 70px;
            /* border: 1px solid brown; */
            border: none;
            border-radius: 20%;
            box-shadow: 0px 0px 5px rgba(229, 101, 27, 0.785);
            transition: transform 0.3s, box-shadow 0.3s;
            /* position:relative; */
}

.head-logo img:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 15px rgba(229, 101, 27, 0.927);
}