 body {
            margin: 0;
            padding: 0;
            /* background-image: url("photo_6258206871911516135_x.jpg"); */
            background-size: cover;
            background-repeat: no-repeat;
             background-color: #FFF1CA

        }

        .back {
            height: 540px;
            width: 1000px;
            background-color: white;
            margin: 100px auto;
            border-radius: 15px;
            display: flex;

            /* justify-content: center;
            align-items: center; */
        }

        .back img {
            border-radius: 15px;
        }

        .signup-body {
            width: 600px;
            height: 750px;
            margin: 60px auto;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-shadow: 0 0 10px black;
            border-radius: 20px;
            background-color: white;
            /* justify-content: center; */
            align-items: center;
        }

        .logo {
            display: flex;
            /* margin-left: 55px; */
        }

        .logo h1 {
            /* font-size: 50px; */
            margin-top: 0;
        }
/* 
        #txt1 {
            color: rgb(22, 142, 182);
        }

        #txt2 {
            color: rgb(204, 19, 19);
        } */

        .btn1 {

            display: flex;
            justify-content: center;
            
        }

        #login1,
        #signup1 {
            /* width: 150px; */
            height: 35px;
            border-radius: 5px;
            border: none;
            font-weight: 500;


        }

        #login1 {
            background-color: #708A58;
            color: #FFF1CA;
            width: 160px;
            cursor: pointer;




        }

        #signup1 {
            background-color: #2D4F2B;
            color: #FFF1CA;
            width: 155px;
            position: relative;
            right: 10px;


        }


         label {
            /* margin: 20px 0 5px 10px;
             */

             
            font-size: medium;
            font-weight: 500;
            

        }
        .details{
            margin: 20px;
        }



        .btn2 {
            height: 40px;
            width: 350px;
            font-weight: 500;
            
            border: none;
            background-color: orange;
            color: #FFF1CA;
            cursor: pointer;
            /* margin: 10px auto; */
        }
        .btn2:hover{
            background-color: orangered;
            box-shadow: 0px 0px 10px rgb(120, 104, 104);
        }

        .symbol {
            position: relative;
            /* top: 100px; */
            left: 270px;
            /* bottom: 10px; */
            color: orangered;
            font-size: 30px;
                      background-color: #FFF1CA;
            padding: 0 7px;
            border-radius: 50%;
           
        }
        .symbol:hover{
            color: orangered;
            
        }