/* ===== Base container ===== */
.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 0 2%;
}

.explore-menu h1 {
  color: #262626;
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
}

.explore-menu-text {
  max-width: 60%;
  color: #808080;
  line-height: 1.4;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

/* ===== Menu List ===== */
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: auto;
  border-radius: 15px;
  padding: 20px 5px;
  scroll-behavior: smooth;
  box-shadow: inset 15px 0 10px -10px rgba(0, 0, 0, 0.1), 
    inset -15px 0 10px -10px rgba(0, 0, 0, 0.1);
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

/* ===== Menu Item ===== */
.explore-menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px; /* spacing around the image */
  border-radius: 50%;
}

.explore-menu-list-item img {
  width: 8.2vw;
  min-width: 110px;
  height: 7.2vw;
  min-height: 110px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(240, 99, 6, 0.703);
  border: 3px solid transparent; /* even spacing for border */
}

/* ===== Hover Effect ===== */
.explore-menu-list-item:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(240, 99, 6, 0.703);
}

/* ===== Active (selected) Image ===== */
.explore-menu-list-item img.active {
  border: 4px solid orange;
  box-shadow: 0 0 20px rgba(255, 99, 71, 0.701); /* soft tomato glow */
  transform: scale(1.08);
  background-color: #fff;
}

.active-category {
  transform: scale(1.05);
  transition: 0.3s;
}


/* ===== Text under images ===== */
.explore-menu-list-item p {
  margin-top: 12px;
  color: #555;
  font-size: max(1.1vw, 16px);
  font-weight: 500;
  text-align: center;
}

/* ===== Horizontal line ===== */
.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

/* ===== Responsive ===== */
@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }

  .explore-menu-list {
    gap: 20px;
  }

  .explore-menu-list-item img {
    min-width: 80px;
    min-height: 80px;
  }
}
